.header {
    font-family: 'Raleway', sans-serif;
    grid-column: 1/7;
    background: $dark-blue-intro;
}

.nav {
    width: 100%;
    padding: 1rem;
    margin: 1.5rem;
    display: flex;
    align-items: center;
    &__logo {
        display: block;
        height: auto;
        width: 9rem;
    }
    &__list {
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        font-size: 1.3rem;
    }
    &__list-item {
        color: $white;
        margin: 1rem;
    }
    &__list-item:last-child {
        margin-right: 3rem;
    }
}

.landing {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $white;
    &__illustraition {
        margin-top: 1rem;
        width: 80vw;
    }
    &__header {
        font-weight: 700;
        font-size: 2.3rem;
        margin: 2rem;
    }
    &__text {
        margin: 0 2rem 2rem 2rem;
    }
    &__btn {
        background: $cyan;
        color: $white;
        font-size: 1.5rem;
        border: none;
        border-radius: 30px;
        margin-top: 1rem;
        padding: 2rem 9rem;
        cursor: pointer;
        transition: all .2s;
        &:hover {
            background: $dark-blue-footer;
        }
    }
}